.books-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #cc0000;
}

.books-filter {
    margin: 20px;
    display: flex;
    gap: 10px;
}

.books-filter input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.books-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}


.books-filter {
    margin: 20px;
    display: flex;
    gap: 10px;
}

.books-filter input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#add-book-btn {
    background-color: #4dbe51;

}

#add-book-btn:hover {
    background-color: #285e2a;
}

#search-btn {
    background-color: #28a0c9;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

#search-btn:hover {
    background-color: #06225f;
}